<div class="youtube-placeholder">
    <svg onclick="ccb.showBanner()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900 506.25" fill="currentColor">
        <g paint-order="fill markers stroke">
            <path d="M0 0 H900 v506.25 H0 z"></path>
            <circle cx="270" cy="100" r="40" opacity=".675" fill="#fff"></circle>
            <path d="m100 400 195 -195 85 85 164 -164 256 274 z" opacity=".675" fill="#fff"></path>
            <text x="248" y="475" fill="#fff" opacity=".675" font-size="xx-large">Click here to show cookie banner</text>
        </g>
    </svg>
</div>