---
layout: default
---
{% assign category = page.category %}
{% assign title = page.title %}
{% assign posts_in_category = site.posts | filter_category: category %}

<div class="post">

    <header class="post-header">
        <h1 class="post-title">{{ title }}</h1>
    </header>

    <hr>

    {% if posts_in_category.size > 0 %}

    {% include tag_category_list.liquid category=page.category %}

    {% include featured_posts/all.liquid category=page.category%}

    {% include posts/all.liquid category=page.category %}

    {% else %}

    Nothing here yet 😢

    {% endif %}

</div>